model_config_list {
 config {
    name: 'plant_models_apple'
    base_path: '/plant-disease/plant_models/apple'
    model_platform: 'tensorflow'
    model_version_policy: {all: {}}
    }
 config {
    name: 'plant_models_corn'
    base_path: '/plant-disease/plant_models/corn'
    model_platform: 'tensorflow'
    model_version_policy: {all: {}}
    }
 config {
    name: 'plant_models_potato'
    base_path: '/plant-disease/plant_models/potato'
    model_platform: 'tensorflow'
    model_version_policy: {all: {}}
    }
 config {
    name: 'plant_models_tomato'
    base_path: '/plant-disease/plant_models/tomato'
    model_platform: 'tensorflow'
    model_version_policy: {all: {}}
    }
}

